body {
    color: #333333;
    background-color: #f0f4f8;
}


.box-1 {
    width: 300px;
    height: 150px;
    background-color: #ffcccc;
    margin-bottom: 25px;
    padding: 20px;
}


.box-2 {
    width: 50%;
    height: 100px;
    background-color: #ccffcc;
    margin-bottom: 25px;
    padding: 20px;
    margin-left: 25%;
}


.box-3 {
    width: 40vw;
    height: 20vh;
    background-color: #ccccff;
    margin-bottom: 25px;
    padding: 20px;
}


p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}


.paragraph-1 {
    color: #d9534f;
    text-decoration: underline;
}


.paragraph-2 {
    color: #f0ad4e;
    text-decoration: overline;
}


.paragraph-3 {
    color: #5cb85c;
    word-spacing: 10px;
}


.paragraph-4 {
    color: #0275d8;
    letter-spacing: 5px;
}


.paragraph-5 {
    color: #6f42c1;
    text-indent: 30px;
}


.paragraph-6 {
    color: #e83e8c;
    text-transform: uppercase;
}